@page "/PastReports"


@if (_searchDetails.NumberPlate != null && _reports != null)
{
	@if (_reports.Count > 0)
	{
		<PageTitle>Reports for @_searchNumberPlate</PageTitle>
	}
	else
	{
		<PageTitle>Past Reports</PageTitle>
	}
}
else
{
	<PageTitle>Past Reports</PageTitle>
}


@inject NavigationManager NavigationManager
@inject IReportDataService ReportData
@inject ICustomerSessionData SessionData

<div class="row justify-content-center">

	<h2 class="display-3 text-center">Search Past Reports</h2>

	<div class="col-md-6">

		<div class="container text-center">
			<EditForm Model="_searchDetails" OnValidSubmit="HandleValidSubmit">
				<DataAnnotationsValidator/>
				<ValidationSummary/>

				<div class="mb-3">
					<label>Last Name:</label>
					<InputText @bind-Value="_searchDetails.LastName" class="mx-auto form-control w-50" />
				</div>

				<div class="mb-3">
					<label>Number Plate:</label>
					<InputText @bind-Value="_searchDetails.NumberPlate" class="mx-auto form-control w-50" />
				</div>

				<button class="btn btn-primary" type="submit">Search</button>

			</EditForm>
		</div>

@if (_wasSearchButtonClicked)
{
	@if (_reports != null)
	{
		<hr>
		@if (_reports.Count == 0)
		{
			<div class="alert alert-warning text-center" role="alert">
				<h3>No reports were found with the provided details.</h3>
				<h3>Please try again.</h3>
			</div>
		}
		else
		{

			<div>
						<h3 class="display-6 text-center">Reports found for vehicle @_searchNumberPlate</h3>

				@foreach (var r in _reports)
				{				
					@if (r != _reports.FirstOrDefault())
					{
						int kmsBetweenServices = _previousReportOdometer - r.Odometer;
						int daysBetweenServices = (_previousReportDate - r.TimeStarted).Days;
						<div class="alert alert-info text-center">
							<p class="lead">Kms between services: @kmsBetweenServices.ToString("N0") kms.</p>
							<p class="lead">Days between services: @daysBetweenServices days.</p>
						</div>
					}
					
					@if (r != null)
					{
						<div class="alert alert-success text-center">
							@*<p>Report ID: @r.ID</p>*@
							<p class="lead">Date: @r.TimeStarted.ToShortDateString() | Odometer: @r.Odometer kms</p>
							<button class="btn btn-primary" @onclick="(() => GoToReport(r))">View Report</button>
						</div>
						
						_previousReportDate = r.TimeStarted;
						_previousReportOdometer = r.Odometer;
					}
				}
			</div>
		}
	}
}

	</div>
</div>


@code {
	private ISearchReporstByLastNameAndRego _searchDetails = new UISearchReporstByLastNameAndRego();
	private List<IFullReportModel> _reports;
	private bool _wasSearchButtonClicked;
	private string _searchNumberPlate = "";

	private DateTime _previousReportDate;
	private int _previousReportOdometer;

	protected override void OnInitialized()
	{
		if (SessionData.GetReports() != null)
		{
			_reports = SessionData.GetReports();
			_wasSearchButtonClicked = SessionData.GetSearchButtonClicked();
			_searchDetails = SessionData.GetSearchDetails();
		}
	}

	private async Task HandleValidSubmit()
	{
		_searchDetails.LastName = _searchDetails.LastName.Trim();
		_searchDetails.LastName = _searchDetails.LastName.Substring(0, 1).ToUpper() + _searchDetails.LastName.Substring(1).ToLower();

		_searchDetails.NumberPlate = _searchDetails.NumberPlate.Trim();
		_searchDetails.NumberPlate = Regex.Replace(_searchDetails.NumberPlate, "[^a-zA-Z0-9]", String.Empty).ToUpper();

		_reports = await ReportData.SearchReports(_searchDetails);

		SessionData.SetReports(_reports);
		SessionData.SetSearchButtonClickedToTrue();
		SessionData.SetSearchDetails(_searchDetails);

		_searchNumberPlate = _searchDetails.NumberPlate;

		_wasSearchButtonClicked = true;
	}

	private void GoToReport(IFullReportModel reportToSee)
	{
		SessionData.SetReport(reportToSee);
		NavigationManager.NavigateTo("/WatchReport");
	}
}
