@page "/ReportForm"
@using DataAccessLibrary.Data.Interfaces
<PageTitle>Inspection for @_appointment.NumberPlate</PageTitle>

@inject NavigationManager NavigationManager
@inject IMechanicSessionData MechanicSession
@inject IVehicleDataService VehicleData
@inject IReportDataService ReportData
@inject IAppointmentDataService AppointmentData
@attribute [Authorize(Roles = "Mechanic")]

<div class="container text-center">
	<h1>Report Form</h1>


@if (_vehicleDetails != null)
{
	<div class="row justify-content-center">

		<div class="col-10">

				<hr />

		<table class="table table-striped table-hover mx-auto w-75">
			<thead>
				<tr>
					<th colspan="2" class="h2 text-center">Car Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="h5 fw-bold">Number Plate</td>
					<td class="h5">@_vehicleDetails.NumberPlate</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Make and Model</td>
					<td class="h5">@_vehicleDetails.Make - @_vehicleDetails.Model</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Year</td>
					<td class="h5">@_vehicleDetails.Year</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Body Type</td>
					<td class="h5">@_vehicleDetails.BodyType</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Engine</td>
					<td class="h5">@_vehicleDetails.EngineDescription</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Fuel Type</td>
					<td class="h5">@_vehicleDetails.FuelType</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Transmission Type</td>
					<td class="h5">@_vehicleDetails.TransmissionType</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Cylinders</td>
					<td class="h5">@_vehicleDetails.Cylinders</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Displacement</td>
					<td class="h5">@_vehicleDetails.SizeLitres Litres</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">VIN</td>
					<td class="h5">@_vehicleDetails.Vin</td>
				</tr>

				@if (_vehicleDetails.FirstVisit.ToShortDateString() == "1/01/0001")
				{
					<tr>
						<td class="h5 fw-bold" colspan="2">First time at the shop.</td>
					</tr>
				}
				else
				{				
					<tr>
						<td class="h5 fw-bold">First Visit</td>
						<td class="h5">@_vehicleDetails.FirstVisit.ToString("dd/MM/yyyy")</td>
					</tr>
				}

			</tbody>
		</table>
		<hr>

		<div class="row justify-content-center">

	<div class="col-8">
		<EditForm Model="_report" OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator/>

			<div class="mb-3">
				<label class="form-label h4">Odometer:</label>
				<div class="input-group">
					<InputNumber @bind-Value="_report.Odometer" style="text-align: right;" class="form-control" />
					<span class="input-group-text">kms</span>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label h4">Road Test Comments:</label>
				<InputTextArea @bind-Value="_report.RoadTestComments" class="form-control" />
			</div>

			<div class="mb-3">
				<label class="form-label h4">General Comments:</label>
				<InputTextArea @bind-Value="_report.GeneralComments" class="form-control" />
			</div>

			<div class="mb-3">
				<label class="form-label h4">Stored Fault Codes:</label>
				<InputTextArea @bind-Value="_report.StoredFaultCodes" class="form-control" />
			</div>

			<div>
				<label class="form-label h4">Air Conditioning:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.AirConditioning">
						<InputRadio class="btn-check" id="ac-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="ac-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="ac-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="ac-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="ac-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="ac-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>

			<div>
				<label class="form-label h4">Lights:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.Lights">
						<InputRadio class="btn-check" id="lights-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="lights-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="lights-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="lights-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="lights-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="lights-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label h4">Lights Comments:</label>
				<InputTextArea @bind-Value="_report.LightsComments" class="form-control" />
			</div>

		<div>
			<label class="form-label h4">Front Wipers:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.FrontWipers">
					<InputRadio class="btn-check" id="front-wipers-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="front-wipers-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="front-wipers-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="front-wipers-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="front-wipers-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="front-wipers-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
		
		<div>
			<label class="form-label h4">Rear Wiper:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.RearWiper">
					<InputRadio class="btn-check" id="rear-wiper-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="rear-wiper-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="rear-wiper-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="rear-wiper-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="rear-wiper-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="rear-wiper-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
		
		<div>
        	<label class="form-label h4">Battery:</label><br />
        	<div class="mb-3 btn-group btn-group-lg">
        		<InputRadioGroup @bind-Value="_report.Battery">
        			<InputRadio class="btn-check" id="battery-btn-radio1" Value="@Ok" />
        			<label class="btn btn-outline-success" for="battery-btn-radio1" style="width: 200px;">Ok</label>

        			<InputRadio class="btn-check" id="battery-btn-radio2" Value="@Average" />
        			<label class="btn btn-outline-warning" for="battery-btn-radio2" style="width: 200px;">Average</label>

        			<InputRadio class="btn-check" id="battery-btn-radio3" Value="@Bad" />
        			<label class="btn btn-outline-danger" for="battery-btn-radio3" style="width: 200px;">Bad</label>
        		</InputRadioGroup>
        	</div>
        </div>
		
		<div class="mb-3 h4">
			<label>Battery Comments:</label>
			<InputTextArea @bind-Value="_report.BatteryComments" class="form-control" />
		</div>

	
		<div>
            <label class="form-label h4">Air Filter:</label><br />
            <div class="mb-3 btn-group btn-group-lg">
                <InputRadioGroup @bind-Value="_report.AirFilter">
                	<InputRadio class="btn-check" id="air-filter-btn-radio1" Value="@Ok" />
                	<label class="btn btn-outline-success" for="air-filter-btn-radio1" style="width: 200px;">Ok</label>

                	<InputRadio class="btn-check" id="air-filter-btn-radio2" Value="@Average" />
                	<label class="btn btn-outline-warning" for="air-filter-btn-radio2" style="width: 200px;">Average</label>

                	<InputRadio class="btn-check" id="air-filter-btn-radio3" Value="@Bad" />
                	<label class="btn btn-outline-danger" for="air-filter-btn-radio3" style="width: 200px;">Bad</label>
                </InputRadioGroup>
            </div>
        </div>

		<div>
			<label class="form-label h4">Cabin Filter:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.CabinFilter">
					<InputRadio class="btn-check" id="cabin-filter-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="cabin-filter-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="cabin-filter-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="cabin-filter-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="cabin-filter-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="cabin-filter-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
		
		<div>
			<label class="form-label h4">Drive Belt/s:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.DriveBelts">
					<InputRadio class="btn-check" id="drive-belts-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="drive-belts-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="drive-belts-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="drive-belts-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="drive-belts-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="drive-belts-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>

		<div>
			<label class="form-label h4">Timing Belt:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.TimingBelt">
					<InputRadio class="btn-check" id="timing-belt-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="timing-belt-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="timing-belt-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="timing-belt-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="timing-belt-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="timing-belt-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>

		<div>
			<label class="form-label h4">Radiator:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.Radiator">
					<InputRadio class="btn-check" id="radiator-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="radiator-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="radiator-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="radiator-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="radiator-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="radiator-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>

		<div>
			<label class="form-label h4">Hoses:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.Hoses">
					<InputRadio class="btn-check" id="hoses-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="hoses-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="hoses-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="hoses-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="hoses-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="hoses-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>

			<div class="mb-3 h4">
				<label>Hoses Comments:</label>
				<InputTextArea @bind-Value="_report.HosesComments" class="form-control" />
			</div>


		<div>
			<label class="form-label h4">Engine Oil:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.EngineOil">
					<InputRadio class="btn-check" id="engine-oil-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="engine-oil-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="engine-oil-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="engine-oil-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="engine-oil-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="engine-oil-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
			

		<div>
			<label class="form-label h4">Coolant:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.Coolant">
					<InputRadio class="btn-check" id="coolant-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="coolant-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="coolant-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="coolant-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="coolant-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="coolant-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>

		<div>
			<label class="form-label h4">Brake Fluid:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.BrakeFluid">
					<InputRadio class="btn-check" id="brake-fluid-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="brake-fluid-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="brake-fluid-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="brake-fluid-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="brake-fluid-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="brake-fluid-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
		
		<div>
			<label class="form-label h4">Power Steering Fluid:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.PowerSteeringFluid">
					<InputRadio class="btn-check" id="power-steering-fluid-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="power-steering-fluid-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="power-steering-fluid-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="power-steering-fluid-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="power-steering-fluid-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="power-steering-fluid-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
			
			
		<div>
			<label class="form-label h4">Transmission Fluid:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.TransmissionFluid">
					<InputRadio class="btn-check" id="transmission-fluid-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="transmission-fluid-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="transmission-fluid-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="transmission-fluid-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="transmission-fluid-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="transmission-fluid-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>
			

		<div>
			<label class="form-label h4">Windscreen Washer Fluid:</label><br />
			<div class="mb-3 btn-group btn-group-lg">
				<InputRadioGroup @bind-Value="_report.WindscreenWasherFluid">
					<InputRadio class="btn-check" id="windscreen-fluid-btn-radio1" Value="@Ok" />
					<label class="btn btn-outline-success" for="windscreen-fluid-btn-radio1" style="width: 200px;">Ok</label>

					<InputRadio class="btn-check" id="windscreen-fluid-btn-radio2" Value="@Average" />
					<label class="btn btn-outline-warning" for="windscreen-fluid-btn-radio2" style="width: 200px;">Average</label>

					<InputRadio class="btn-check" id="windscreen-fluid-btn-radio3" Value="@Bad" />
					<label class="btn btn-outline-danger" for="windscreen-fluid-btn-radio3" style="width: 200px;">Bad</label>
				</InputRadioGroup>
			</div>
		</div>


			<div class="mb-3 h4">
				<label>Fluids Comments:</label>
				<InputTextArea @bind-Value="_report.FluidsComments" class="form-control" />
			</div>
			

		@if (_vehicleDetails.FuelType.ToLower().Contains("diesel") == false)
		{
			<div>
				<label class="form-label h4">Spark Plugs:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.SparkPlugs">
						<InputRadio class="btn-check" id="spark-plugs-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="spark-plugs-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="spark-plugs-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="spark-plugs-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="spark-plugs-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="spark-plugs-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
		}

			

			<div>
				<label class="form-label h4">Fuel Filter:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.FuelFilter">
						<InputRadio class="btn-check" id="fuel-filter-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="fuel-filter-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="fuel-filter-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="fuel-filter-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="fuel-filter-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="fuel-filter-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			

			<div>
				<label class="form-label h4">Front Suspension:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.FrontSuspension">
						<InputRadio class="btn-check" id="front-suspension-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="front-suspension-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="front-suspension-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="front-suspension-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="front-suspension-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="front-suspension-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			

			
			<div class="mb-3 h4">
				<label>Front Suspension Comments:</label>
				<InputTextArea @bind-Value="_report.FrontSuspensionComments" class="form-control" />
			</div>
			
			
			<div>
				<label class="form-label h4">Rear Suspension:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.RearSuspension">
						<InputRadio class="btn-check" id="rear-suspension-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="rear-suspension-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="rear-suspension-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="rear-suspension-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="rear-suspension-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="rear-suspension-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			<div class="mb-3 h4">
				<label>Rear Suspension Comments:</label>
				<InputTextArea @bind-Value="_report.RearSuspensionComments" class="form-control" />
			</div>
			

						
			<div>
				<label class="form-label h4">Front Brakes:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.FrontBrakes">
						<InputRadio class="btn-check" id="front-brakes-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="front-brakes-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="front-brakes-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="front-brakes-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="front-brakes-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="front-brakes-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			<div class="mb-3 h4">
				<label>Front Brakes Comments:</label>
				<InputTextArea @bind-Value="_report.FrontBrakesComments" class="form-control" />
			</div>
			
			
						
			<div>
				<label class="form-label h4">Rear Brakes:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.RearBrakes">
						<InputRadio class="btn-check" id="rear-brakes-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="rear-brakes-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="rear-brakes-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="rear-brakes-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="rear-brakes-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="rear-brakes-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			<div class="mb-3 h4">
				<label>Rear Brakes Comments:</label>
				<InputTextArea @bind-Value="_report.RearBrakesComments" class="form-control" />
			</div>
			


			@*Tyres Section*@


			<div>
				<label class="form-label h4">RHF Tyre:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.RhfTyre">
						<InputRadio class="btn-check" id="rhf-tyre-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="rhf-tyre-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="rhf-tyre-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="rhf-tyre-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="rhf-tyre-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="rhf-tyre-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			

			<div>
				<label class="form-label h4">LHF Tyre:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.LhfTyre">
						<InputRadio class="btn-check" id="lhf-tyre-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="lhf-tyre-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="lhf-tyre-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="lhf-tyre-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="lhf-tyre-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="lhf-tyre-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			

			<div>
				<label class="form-label h4">RHR Tyre:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.RhrTyre">
						<InputRadio class="btn-check" id="rhr-tyre-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="rhr-tyre-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="rhr-tyre-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="rhr-tyre-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="rhr-tyre-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="rhr-tyre-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			

			<div>
				<label class="form-label h4">LHR Tyre:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.LhrTyre">
						<InputRadio class="btn-check" id="lhr-tyre-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="lhr-tyre-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="lhr-tyre-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="lhr-tyre-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="lhr-tyre-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="lhr-tyre-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			

			<div class="mb-3 h4">
				<label>Tyres Comments:</label>
				<InputTextArea @bind-Value="_report.TyresComments" class="form-control" />
			</div>
		
			<div class="mb-3">
				<InputCheckbox class="btn-check" id="needs-alignment" autocomplete="off" @bind-Value="_report.NeedsAlignment" />
				<label class="btn btn-outline-primary" for="needs-alignment">Needs Alignment</label><br>
			</div>
		
			<div>
				<label class="form-label h4">Exhaust:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.Exhaust">
						<InputRadio class="btn-check" id="exhaust-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="exhaust-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="exhaust-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="exhaust-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="exhaust-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="exhaust-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			<div class="mb-3 h4">
				<label>Exhaust Comments:</label>
				<InputTextArea @bind-Value="_report.ExhaustComments" class="form-control" />
			</div>
						

			<div>
				<label class="form-label h4">Drivetrain:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.Drivetrain">
						<InputRadio class="btn-check" id="drivetrain-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="drivetrain-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="drivetrain-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="drivetrain-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="drivetrain-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="drivetrain-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			
			<div class="mb-3 h4">
				<label>Drivetrain Comments:</label>
				<InputTextArea @bind-Value="_report.DrivetrainComments" class="form-control" />
			</div>
			
			
			<div>
				<label class="form-label h4">Oil Leaks:</label><br />
				<div class="mb-3 btn-group btn-group-lg">
					<InputRadioGroup @bind-Value="_report.OilLeaks">
						<InputRadio class="btn-check" id="oil-leaks-btn-radio1" Value="@Ok" />
						<label class="btn btn-outline-success" for="oil-leaks-btn-radio1" style="width: 200px;">Ok</label>

						<InputRadio class="btn-check" id="oil-leaks-btn-radio2" Value="@Average" />
						<label class="btn btn-outline-warning" for="oil-leaks-btn-radio2" style="width: 200px;">Average</label>

						<InputRadio class="btn-check" id="oil-leaks-btn-radio3" Value="@Bad" />
						<label class="btn btn-outline-danger" for="oil-leaks-btn-radio3" style="width: 200px;">Bad</label>
					</InputRadioGroup>
				</div>
			</div>
			
			
			<div class="mb-3 h4">
				<label>Oil Leaks Comments:</label>
				<InputTextArea @bind-Value="_report.OilLeaksComments" class="form-control" />
			</div>
					
			
				<div>
    				<label class="form-label h4">Coolant Leaks:</label><br />
    				<div class="mb-3 btn-group btn-group-lg">
    					<InputRadioGroup @bind-Value="_report.CoolantLeaks">
    						<InputRadio class="btn-check" id="coolant-leaks-btn-radio1" Value="@Ok" />
    						<label class="btn btn-outline-success" for="coolant-leaks-btn-radio1" style="width: 200px;">Ok</label>
    
    						<InputRadio class="btn-check" id="coolant-leaks-btn-radio2" Value="@Average" />
    						<label class="btn btn-outline-warning" for="coolant-leaks-btn-radio2" style="width: 200px;">Average</label>
    
    						<InputRadio class="btn-check" id="coolant-leaks-btn-radio3" Value="@Bad" />
    						<label class="btn btn-outline-danger" for="coolant-leaks-btn-radio3" style="width: 200px;">Bad</label>
    					</InputRadioGroup>
    				</div>
    			</div>
			
			<div class="mb-3 h4">
				<label>Coolant Leaks Comments:</label>
				<InputTextArea @bind-Value="_report.CoolantLeaksComments" class="form-control" />
			</div>
					
			
			<div class="mb-3 h4">
				<label>Other Leaks Comments:</label>
				<InputTextArea @bind-Value="_report.OtherLeaksComments" class="form-control" />
			</div>
			

			<div class="mb-3 h4">
				<label>Other Comments:</label>
				<InputTextArea @bind-Value="_report.Other" class="form-control" />
			</div>
			
			
			<div class="mb-3 h4">
				<label>Other Inspection Comments:</label>
				<InputTextArea @bind-Value="_report.OtherInspectionComments" class="form-control" />
			</div>
			

							<ValidationSummary />

			<button class="btn btn-primary btn-lg mb-2" type="submit">Save Report</button>
		</EditForm>
	</div>
</div>

			</div>
		</div>
	}

</div>

@code {
	private IDetailedAppointment _appointment;
	private IVehicleModel _vehicleDetails;
	const string Ok = "Inspected And Ok";
	const string Average = "May Require Future Attention";
	const string Bad = "Requires Immediate Attention";
	private readonly UIReportModel _report = new();

	protected override async Task OnInitializedAsync()
	{
		_appointment = MechanicSession.GetAppointmentToWorkOn();

		if (_appointment == null)
		{
			NavigationManager.NavigateTo("/Jobs");
		}
		else
		{
			_vehicleDetails = await VehicleData.GetVehicleDetailsById(_appointment.VehicleId);

			_report.TimeStarted = DateTime.Now;
			_report.AppointmentId = _appointment.Id;
			_report.VehicleId = _appointment.VehicleId;
			_report.MechanicId = _appointment.MechanicId;
			_report.CustomerId = _appointment.CustomerId;
			_report.Date = _appointment.Date;
		}
	}

	private async void HandleValidSubmit()
	{
		// Update vehicle first visit
		await VehicleData.SaveVehicleFirstVisit(_appointment.VehicleId, DateTime.Now);

		// Update report end time
		_report.TimeFinished = DateTime.Now;

		// Save report to the DB
		await ReportData.CreateReport(_report);

		// Mark appointment as completed
		await AppointmentData.SetAppointmentAsCompletedById(_appointment.Id);

		// Redirect to jobs page
		NavigationManager.NavigateTo("/Jobs");

		Console.WriteLine("Form successful.");
	}
}