@page "/ReportForm"
@using static BlazorApp.Models.ComponentCondition;

@inject NavigationManager NavigationManager
@inject IMechanicSessionData mechanicSession
@inject IVehicleDataService vehicleData
@inject IReportDataService reportData
@inject IAppointmentDataService appointmentData
@attribute [Authorize(Roles = "Mechanic")]

<h1>Report Form</h1>

@if (vehicleDetails != null)
{
	<h2>@vehicleDetails.NumberPlate</h2>
	<h2>@vehicleDetails.Make - @vehicleDetails.Model</h2>
	<h2>@vehicleDetails.Year</h2>
	<h3>@vehicleDetails.BodyType</h3>
	<h3>Engine: @vehicleDetails.EngineDescription</h3>
	<h3>Fuel type: @vehicleDetails.FuelType</h3>
	<h3>Transmission Type: @vehicleDetails.TransmissionType</h3>
	<h3>Cylinders: @vehicleDetails.Cylinders - Displacement: @vehicleDetails.SizeLitres Litres</h3>
	<h3>VIN: @vehicleDetails.VIN</h3>

	@if (@vehicleDetails.FirstVisit.ToShortDateString() == "1/01/0001")
	{
		<h3>First time at the shop.</h3>
	}
	else
	{
		<h3>First visit: @vehicleDetails.FirstVisit.ToShortDateString()</h3>
	}
	
}

<div class="row">
	<div class="col-md-6">
		<EditForm Model="report" OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator/>
			<ValidationSummary/>

			<div class="mb-6">
				<label>Odometer:</label>
				<InputNumber @bind-Value="report.Odometer" class="form-control" />
			</div>

			<div class="mb-6">
				<label>Road Test Comments:</label>
				<InputTextArea @bind-Value="report.RoadTestComments" class="form-control" />
			</div>

			<div class="mb-6">
				<label>General Comments:</label>
				<InputTextArea @bind-Value="report.GeneralComments" class="form-control" />
			</div>

			<div class="mb-6">
				<label>Stored Fault Codes:</label>
				<InputTextArea @bind-Value="report.StoredFaultCodes" class="form-control" />
			</div>

			<br />
			<div class="p-2 mb-6 border border-dark">
				<label>Air Conditioning:</label>
				<InputRadioGroup @bind-Value="report.AirConditioning" class="form-control">
					<button type="button" class="btn btn-success">
					<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
					<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
					<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br/>
			<div class="p-2 mb-6 border border-dark">
				<label>Lights:</label>
				<InputRadioGroup @bind-Value="report.Lights" class="form-control">
					<button type="button" class="btn btn-success">
					<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
					<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
					<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>

			<div class="mb-6">
				<label>Lights Comments:</label>
				<InputTextArea @bind-Value="report.LightsComments" class="form-control" />
			</div>
			<br/>

			<div class="p-2 mb-6 border border-dark">
				<label>Front Wipers:</label>
				<InputRadioGroup @bind-Value="report.FrontWipers" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Rear Wipers:</label>
				<InputRadioGroup @bind-Value="report.RearWiper" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Battery:</label>
				<InputRadioGroup @bind-Value="report.Battery" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>

			<div class="mb-6">
				<label>Battery Comments:</label>
				<InputTextArea @bind-Value="report.BatteryComments" class="form-control" />
			</div>
			<br />


			<div class="p-2 mb-6 border border-dark">
				<label>Air Filter:</label>
				<InputRadioGroup @bind-Value="report.AirFilter" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Cabin Filter:</label>
				<InputRadioGroup @bind-Value="report.CabinFilter" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Drive Belt/s:</label>
				<InputRadioGroup @bind-Value="report.DriveBelts" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Timing Belt:</label>
				<InputRadioGroup @bind-Value="report.TimingBelt" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Radiator:</label>
				<InputRadioGroup @bind-Value="report.Radiator" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Hoses:</label>
				<InputRadioGroup @bind-Value="report.Hoses" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="mb-6">
				<label>Hoses Comments:</label>
				<InputTextArea @bind-Value="report.HosesComments" class="form-control" />
			</div>
			<br />


			<div class="p-2 mb-6 border border-dark">
				<label>Engine Oil:</label>
				<InputRadioGroup @bind-Value="report.EngineOil" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			

			<div class="p-2 mb-6 border border-dark">
				<label>Coolant:</label>
				<InputRadioGroup @bind-Value="report.Coolant" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Brake Fluid:</label>
				<InputRadioGroup @bind-Value="report.BrakeFluid" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="p-2 mb-6 border border-dark">
				<label>Power Steering Fluid:</label>
				<InputRadioGroup @bind-Value="report.PowerSteeringFluid" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="p-2 mb-6 border border-dark">
				<label>Transmission Fluid:</label>
				<InputRadioGroup @bind-Value="report.TransmissionFluid" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Windscreen Washer Fluid:</label>
				<InputRadioGroup @bind-Value="report.WindscreenWasherFluid" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />


			<div class="mb-6">
				<label>Fluids Comments:</label>
				<InputTextArea @bind-Value="report.FluidsComments" class="form-control" />
			</div>
			<br />


			<div class="p-2 mb-6 border border-dark">
				<label>Spark Plugs:</label>
				<InputRadioGroup @bind-Value="report.SparkPlugs" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			

			<div class="p-2 mb-6 border border-dark">
				<label>Fuel Filter:</label>
				<InputRadioGroup @bind-Value="report.FuelFilter" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>Front Suspension:</label>
				<InputRadioGroup @bind-Value="report.FrontSuspension" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			
			<div class="mb-6">
				<label>Front Suspension Comments:</label>
				<InputTextArea @bind-Value="report.FrontSuspensionComments" class="form-control" />
			</div>
			<br />
			
			<div class="p-2 mb-6 border border-dark">
				<label>Rear Suspension:</label>
				<InputRadioGroup @bind-Value="report.RearSuspension" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Rear Suspension Comments:</label>
				<InputTextArea @bind-Value="report.RearSuspensionComments" class="form-control" />
			</div>
			<br />

						
			<div class="p-2 mb-6 border border-dark">
				<label>Front Brakes:</label>
				<InputRadioGroup @bind-Value="report.FrontBrakes" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Front Brakes Comments:</label>
				<InputTextArea @bind-Value="report.FrontBrakesComments" class="form-control" />
			</div>
			<br />
			
						
			<div class="p-2 mb-6 border border-dark">
				<label>Rear Brakes:</label>
				<InputRadioGroup @bind-Value="report.RearBrakes" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Rear Brakes Comments:</label>
				<InputTextArea @bind-Value="report.RearBrakesComments" class="form-control" />
			</div>
			<br />


			@*Tyres Section*@


			<div class="p-2 mb-6 border border-dark">
				<label>RHF Tyre:</label>
				<InputRadioGroup @bind-Value="report.RHFTyre" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>LHF Tyre:</label>
				<InputRadioGroup @bind-Value="report.LHFTyre" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>RHR Tyre:</label>
				<InputRadioGroup @bind-Value="report.RHRTyre" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="p-2 mb-6 border border-dark">
				<label>LHR Tyre:</label>
				<InputRadioGroup @bind-Value="report.LHRTyre" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />

			<div class="mb-6">
				<label>Tyres Comments:</label>
				<InputTextArea @bind-Value="report.TyresComments" class="form-control" />
			</div>

			<br />

			<InputCheckbox @bind-Value="report.NeedsAlignment" /> Needs Alignment

			<br />

			
			<div class="p-2 mb-6 border border-dark">
				<label>Exhaust:</label>
				<InputRadioGroup @bind-Value="report.Exhaust" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Exhaust Comments:</label>
				<InputTextArea @bind-Value="report.ExhaustComments" class="form-control" />
			</div>
			<br />			

			<div class="p-2 mb-6 border border-dark">
				<label>Drivetrain:</label>
				<InputRadioGroup @bind-Value="report.Drivetrain" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Drivetrain Comments:</label>
				<InputTextArea @bind-Value="report.DrivetrainComments" class="form-control" />
			</div>
			<br />
			
			<div class="p-2 mb-6 border border-dark">
				<label>Oil Leaks:</label>
				<InputRadioGroup @bind-Value="report.OilLeaks" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Oil Leaks Comments:</label>
				<InputTextArea @bind-Value="report.OilLeaksComments" class="form-control" />
			</div>
			<br />		
			
			<div class="p-2 mb-6 border border-dark">
				<label>Coolant Leaks:</label>
				<InputRadioGroup @bind-Value="report.CoolantLeaks" class="form-control">
					<button type="button" class="btn btn-success">
						<InputRadio Value="@ok" /> Ok
					</button>
					<button type="button" class="btn btn-warning">
						<InputRadio Value="@average" /> Average
					</button>
					<button type="button" class="btn btn-danger">
						<InputRadio Value="@bad" /> Bad
					</button>
				</InputRadioGroup>
			</div>
			<br />
			
			<div class="mb-6">
				<label>Coolant Leaks Comments:</label>
				<InputTextArea @bind-Value="report.CoolantLeaksComments" class="form-control" />
			</div>
			<br />		
			
			<div class="mb-6">
				<label>Other Leaks Comments:</label>
				<InputTextArea @bind-Value="report.OtherLeaksComments" class="form-control" />
			</div>
			<br />

			<div class="mb-6">
				<label>Other Comments:</label>
				<InputTextArea @bind-Value="report.Other" class="form-control" />
			</div>
			<br />
			
			<div class="mb-6">
				<label>Other Inspection Comments:</label>
				<InputTextArea @bind-Value="report.OtherInspectionComments" class="form-control" />
			</div>
			<br />


			<button type="submit">Save Report</button>
		</EditForm>
	</div>
</div>

@code {
	private IDetailedAppointment appointment;
	private IVehicleModel vehicleDetails;
	const string ok = "Inspected and ok";
	const string average = "May require future attention";
	const string bad = "Requires immediate attention";
	private UIReportModel report = new();

	protected async override Task OnInitializedAsync()
	{
		appointment = mechanicSession.GetAppointmentToWorkOn();

		if (appointment == null)
		{
			NavigationManager.NavigateTo("/Jobs");
		}

		vehicleDetails = await vehicleData.GetVehicleDetailsByID(appointment.VehicleID);

		report.TimeStarted = DateTime.Now;
		report.AppointmentID = appointment.ID;
		report.VehicleID = appointment.VehicleID;
		report.MechanicID = appointment.MechanicID;
		report.Date = appointment.Date;
	}

	private async void HandleValidSubmit()
	{
		// Update vehicle first visit
		await vehicleData.SaveVehicleFirstVisit(appointment.VehicleID, DateTime.Now);

		// Update report end time
		report.TimeFinished = DateTime.Now;

		// Save report to the DB
		await reportData.CreateReport(report);

		// Mark appointment as completed
		await appointmentData.SetAppointmentAsCompletedByID(appointment.ID);

		// Redirect to jobs page
		NavigationManager.NavigateTo("/Jobs");

		Console.WriteLine("Form successful.");
	}
}