@page "/TestReadCustomer"
@inject ICustomerDataService customerData

<h3>Test Read Customer</h3>

@if (customers == null)
{
	<h3>Loading Customers...</h3>
}
else
{
	<h2>Customers</h2>

	<div class="row">
		<div class="col-md-6">
			@foreach (var c in customers)
			{
				<div class="alert alert-info" role="alert">
					<p>ID: @c.ID. @c.FirstName @c.LastName, Email: @c.Email, Phone Number: @c.PhoneNumber, Address: @c.Address</p>
				</div>
			}
		</div>
	</div>
}

@code{
	private List<ICustomerModel> customers;

	protected override async Task OnInitializedAsync()
	{
		customers = await customerData.ReadAllCustomers();
	}
}