@inject IAppointmentDataService appointmentData
@inject IMessageDataService messageData
@inject IStockDataService stockData
@inject IReportDataService reportData
@inject IMechanicDataService mechanicData
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<br />

<h3>Manager Dashboard Component</h3>

<br />

<div class="row">

	<div class="col-md-6">
		<h2>Today's Appointments:</h2>
		@if (todayAppointments != null)
		{
			@foreach (var a in todayAppointments)
			{
				<div class="@(a.UserName == null ? "alert-danger" : a.Completed != false ? "alert-success" : "alert-warning")">
				<p>@a.ID</p>
				<p>Car @a.NumberPlate</p>
				@if (a.UserName != null && a.Completed == false)
				{
					<p>Assigned to @a.UserName</p>
				}
				else if (a.UserName != null && a.Completed)
				{
					<p>Completed by @a.UserName</p>
				}
				else
				{
					<p>Job not assigned to any mechanic!</p>
					<select @onfocusin="ResetAllDropDowns" @onchange="HandleDropDownChange">
						<option value="">Select Mechanic...</option>
						@foreach (var m in mechanics)
						{
							<option value="@m.ID">@m.UserName</option>
						}
					</select>

					<button class="btn btn-outline-primary" @onclick="(() => AssignJobCard(a.ID))">Assign</button>

				}
				@if (a.Completed)
				{
						<button class="btn btn-outline-primary" @onclick="(() => SeeReportFromAppointment(a.ID))">
						See Report</button>
				}
				else if (a.Completed || a.UserName != null)
				{
					<p>Inspection in progress.</p>
				}
				<br>
				</div>
				<br />

			}
		}
		else
		{
			<p>No appointments for today!</p>
		}
	</div>



	<div class="col-md-6">
		<h2>Unread Messages: </h2>
		@if (messages != null)
		{
			@foreach (var m in messages)
			{
				<div class="alert-info">
					<p>Message ID: @m.ID</p>
					<p>@m.UserName posted on @m.PostedOn in <b>@m.Tag</b>:</p>
					<p><i>@m.Content</i></p>
					<button class="btn btn-primary" @onclick="(() => MarkMessageAsRead(m.ID))">Mark as read</button>
				</div>
				<br />
			}
		}
		else
		{
			<p>No new messages!</p>
		}
	</div>

</div>

<br />
<br />
<br />

<div class="row">



	<div class="col-md-6">
		<h2>Completed Inspections:</h2>
		@if (completedInspections != null)
		{
			@foreach (var c in completedInspections)
			{
				<div class="alert-info">
				<p>Vehicle: @c.NumberPlate - @c.Make @c.Model @c.Year</p>
				<p>Customer: @c.FirstName @c.LastName</p>
				<p>Completed by: @c.UserName on @c.TimeFinished</p>
				<button class="btn btn-primary" @onclick="(() => SeeReport(c.ID))">See Report</button>
				<button class="btn btn-primary" @onclick="(() => ArchiveInspection(c.ID))">Archive</button>
				</div>
				<br />
			}
		}
		else
		{
			<p>All good in the inventory!</p>
		}
	</div>

	<div class="col-md-6">
		<h2>Stock Warnings:</h2>

		@if (stock != null)
		{
			@foreach (var i in stock)
			{
				@if (i.Quantity == 0)
				{
					<div class="alert-danger">
						<p> Nothing left of @i.ItemName!</p>
						<br>
					</div>
				}
				else
				{
					<div class="alert-warning">
						<p>@i.ItemName is low</p>
						<p>(Only @i.Quantity @i.Unit left)</p>
					</div>
				}
			}
			<br />
			<button class="btn btn-primary" @onclick="(() => GoToInventory())">Go to Inventory</button>
		}
		else
		{
			<p>All good in the inventory!</p>
		}
	</div>

</div>

<div class="container text-center">
  <div class="row">
		<div class="col">
			<VehiclesByMakeGraph></VehiclesByMakeGraph>
		</div>
		<div class="col">
			<MostCommonFaults></MostCommonFaults>
		</div>
	</div>
</div>

@code {
	private List<IMechanicBasicModel> mechanics;
	private List<IDetailedAppointment> todayAppointments;
	private List<IMessageModel> messages;
	private List<IStockItemModel> stock;
	private List<IDashboardReportModel> completedInspections;
	private int mechanicIDToAssign;

	protected async override Task OnInitializedAsync()
	{
		todayAppointments = await appointmentData.ReadTodaysAppointmentsDetailed();
		messages = await messageData.ReadAllUnreadMessages();
		stock = await stockData.ReadLowStockItems();
		completedInspections = await reportData.SearchAllReporstDashboard();
		mechanics = await mechanicData.ReadAllMechanicsBasic();
	}

	private async void ResetAllDropDowns()
	{
		mechanicIDToAssign = 0;
		await JSRuntime.InvokeAsync<object>("ResetAllDropDowns");
	}

	private void HandleDropDownChange(ChangeEventArgs e)
	{
		if (e.Value.ToString() == "")
		{
			mechanicIDToAssign = 0;
		}
		else
		{
			mechanicIDToAssign = int.Parse(e.Value.ToString());
		}
	}

	private async void AssignJobCard(int appointmentId)
	{
		Console.WriteLine(appointmentId);
		Console.WriteLine(mechanicIDToAssign);
		if (mechanicIDToAssign > 0)
		{
			await appointmentData.AssignJobCardByID(appointmentId, mechanicIDToAssign);
			var appointment = todayAppointments.Where(x => x.ID == appointmentId).FirstOrDefault();

			appointment.MechanicID = mechanicIDToAssign;

			appointment.UserName = mechanics.Where(x => x.ID == mechanicIDToAssign).FirstOrDefault().UserName;

			await JSRuntime.InvokeAsync<object>("ResetAllDropDowns");

			StateHasChanged();
		}
	}

	private async void SeeReportFromAppointment(int appointmentID)
	{
		// Get inspection number by appointmentID
		int reportID = await reportData.GetReportIDFromAppointmentIDAsync(appointmentID);

		// Redirect to inspection page
		NavigationManager.NavigateTo($"/Report/{reportID}");
	}

	private async Task MarkMessageAsRead(int messageID)
	{
		await messageData.MarkMessageAsRead(messageID);

		messages.Remove(messages.Where(x => x.ID == messageID).FirstOrDefault());
	}

	private void GoToInventory()
	{
		NavigationManager.NavigateTo("/ReadStock");
	}	
	
	private void SeeReport(int reportID)
	{
		NavigationManager.NavigateTo($"/Report/{reportID}");
	}

	private async Task ArchiveInspection(int inspectionID)
	{
		await reportData.ArchiveInspection(inspectionID);

		completedInspections.Remove(completedInspections.Where(x => x.ID == inspectionID).FirstOrDefault());
	}
}
