@page "/Reports"
@attribute [Authorize(Roles = "Manager")]
@inject IReportDataService ReportData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<h3>Inspections:</h3>

<div class="row">
	<div class="col-md-6">
		@if (_inspections != null)
		{
			@foreach (var c in _inspections)
			{
				<div class="alert-info">
				<p>Vehicle: @c.NumberPlate - @c.Make @c.Model @c.Year</p>
				<p>Customer: @c.FirstName @c.LastName</p>
				<p>Completed by: @c.UserName on @c.TimeFinished</p>
				<button class="btn btn-primary" @onclick="(() => SeeReport(c.ID))">See Report</button>
				</div>
				<br />
			}
		}
		else
		{
			<p>No completed inspections.</p>
		}
	</div>
</div>


@code {
	private List<IDashboardReportModel> _inspections;

	protected async override Task OnInitializedAsync()
	{
		_inspections = await ReportData.SearchAllReportsDashboardNonArchived();
	}

		private void SeeReport(int reportID)
	{
		ManagerSession.SetLastPage(NavigationManager.Uri);
		NavigationManager.NavigateTo($"/Report/{reportID}");
	}
}
