@attribute [Authorize(Roles = "Manager")]
@page "/Report/{reportID:int}"
@inject IReportDataService ReportData
@inject IVehicleDataService VehicleData
@inject ICustomerDataService CustomerData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<h3>Report Number @ReportID</h3>

<button class="btn btn-info"  @onclick="(() => PreviousPage())">Go to previous page</button>

@if (_report != null)
{
	<div class="row">

		<div class="col-md-6">

			<h3>Report Info:</h3>
			<p>Report ID: @_report.ID</p>
			<p>Date: @_report.TimeStarted.ToShortDateString()</p>
			<p>Time Started: @_report.TimeStarted.ToShortTimeString()</p>
			<p>Time Finished: @_report.TimeFinished.ToShortTimeString()</p>
			<p>Mileage: @_report.Odometer kms</p>

			<h3>Vehicle Info:</h3>
			<p>Number Plate: @_vehicle.NumberPlate</p>
			<p>Make: @_vehicle.Make</p>
			<p>Model: @_vehicle.Model</p>
			<p>Year: @_vehicle.Year</p>
			<p>VIN: @_vehicle.VIN</p>
			<p>Engine: @_vehicle.EngineDescription</p>
			<p>Engine Size: @_vehicle.SizeLitres Cylinders: @_vehicle.Cylinders</p>
			<p>Fuel Type: @_vehicle.FuelType</p>
			<p>Body: @_vehicle.BodyType</p>
			<p>First Visit: @_vehicle.FirstVisit</p>

			<h3>Customer Info:</h3>
			<p>@_customer.FirstName @_customer.LastName</p>
			<p>Email: @_customer.Email</p>
			<p>Phone Number: @_customer.PhoneNumber</p>
			<p>Address: @_customer.Address</p>

			<div class="p-2 mb-6 border border-dark">
				<label>Road Test Comments:</label>
				@if (_report.RoadTestComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.RoadTestComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>General Comments:</label>
				@if (_report.GeneralComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.GeneralComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Stored Fault Codes:</label>
				@if (_report.StoredFaultCodes == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.StoredFaultCodes</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Air Conditioning:</label>
				@if (_report.AirConditioning == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.AirConditioning == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.AirConditioning == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Lights:</label>
				@if (_report.Lights == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Lights == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Lights == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Lights Comments:</label>
				@if (_report.LightsComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.LightsComments</p>
				}
			</div>


			<div class="p-2 mb-6 border border-dark">
				<label>Front Wipers:</label>
				@if (_report.FrontWipers == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.FrontWipers == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.FrontWipers == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Rear Wipers:</label>
				@if (_report.RearWiper == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.RearWiper == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.RearWiper == Bad)
				{
					@((MarkupString)BadDiv)
				}
				else
				{
					<p>N/A</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Battery:</label>
				@if (_report.Battery == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Battery == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Battery == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Battery Comments:</label>
				@if (_report.BatteryComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.BatteryComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Air Filter:</label>
				@if (_report.AirFilter == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.AirFilter == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.AirFilter == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Cabin Filter:</label>
				@if (_report.CabinFilter == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.CabinFilter == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.CabinFilter == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Drive Belt/s:</label>
				@if (_report.DriveBelts == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.DriveBelts == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.DriveBelts == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Timing Belt:</label>
				@if (_report.TimingBelt == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.TimingBelt == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.TimingBelt == Bad)
				{
					@((MarkupString)BadDiv)
				}
				else
				{
					<p>N/A</p>
				}
			</div>


			<div class="p-2 mb-6 border border-dark">
				<label>Radiator:</label>
				@if (_report.Radiator == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Radiator == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Radiator == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Hoses:</label>
				@if (_report.Hoses == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Hoses == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Hoses == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Hoses Comments:</label>
				@if (_report.HosesComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.HosesComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Engine Oil:</label>
				@if (_report.EngineOil == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.EngineOil == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.EngineOil == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Coolant:</label>
				@if (_report.Coolant == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Coolant == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Coolant == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Brake Fluid:</label>
				@if (_report.BrakeFluid == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.BrakeFluid == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.BrakeFluid == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Power Steering Fluid:</label>
				@if (_report.PowerSteeringFluid == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.PowerSteeringFluid == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.PowerSteeringFluid == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Transmission Fluid:</label>
				@if (_report.TransmissionFluid == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.TransmissionFluid == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.TransmissionFluid == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Windscreen Washer Fluid:</label>
				@if (_report.WindscreenWasherFluid == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.WindscreenWasherFluid == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.WindscreenWasherFluid == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Fluids Comments:</label>
				@if (_report.FluidsComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.FluidsComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Spark Plugs:</label>
				@if (_report.SparkPlugs == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.SparkPlugs == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.SparkPlugs == Bad)
				{
					@((MarkupString)BadDiv)
				}
				else
				{
					<p>N/A</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Fuel Filter:</label>
				@if (_report.FuelFilter == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.FuelFilter == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.FuelFilter == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Front Suspension:</label>
				@if (_report.FrontSuspension == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.FrontSuspension == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.FrontSuspension == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Front Suspension Comments:</label>
				@if (_report.FrontSuspensionComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.FrontSuspensionComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Rear Suspension:</label>
				@if (_report.RearSuspension == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.RearSuspension == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.RearSuspension == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Rear Suspension Comments:</label>
				@if (_report.RearSuspensionComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.RearSuspensionComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Front Brakes:</label>
				@if (_report.FrontBrakes == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.FrontBrakes == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.FrontBrakes == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Front Brakes Comments:</label>
				@if (_report.FrontBrakesComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.FrontBrakesComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Rear Brakes:</label>
				@if (_report.RearBrakes == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.RearBrakes == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.RearBrakes == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Rear Brakes Comments:</label>
				@if (_report.RearBrakesComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.RearBrakesComments</p>
				}
			</div>


			<div class="p-2 mb-6 border border-dark">
				<label>Right Hand Front Tyre:</label>
				@if (_report.RHFTyre == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.RHFTyre == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.RHFTyre == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Left Hand Front Tyre:</label>
				@if (_report.LHFTyre == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.LHFTyre == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.LHFTyre == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Right Hand Rear Tyre:</label>
				@if (_report.RHRTyre == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.RHRTyre == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.RHRTyre == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Left Hand Rear Tyre:</label>
				@if (_report.LHRTyre == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.LHRTyre == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.LHRTyre == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Tyres Comments:</label>
				@if (_report.TyresComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.TyresComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Exhaust:</label>
				@if (_report.Exhaust == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Exhaust == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Exhaust == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Exhaust Comments:</label>
				@if (_report.ExhaustComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.ExhaustComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Drivetrain:</label>
				@if (_report.Drivetrain == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.Drivetrain == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.Drivetrain == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Drivetrain Comments:</label>
				@if (_report.DrivetrainComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.DrivetrainComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Oil Leaks:</label>
				@if (_report.OilLeaks == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.OilLeaks == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.OilLeaks == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Oil Leaks Comments:</label>
				@if (_report.OilLeaksComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.OilLeaksComments</p>
				}
			</div>


			<div class="p-2 mb-6 border border-dark">
				<label>Coolant Leaks:</label>
				@if (_report.CoolantLeaks == Ok)
				{
					@((MarkupString)OkDiv)
				}
				else if (_report.CoolantLeaks == Average)
				{
					@((MarkupString)AverageDiv)
				}
				else if (_report.CoolantLeaks == Bad)
				{
					@((MarkupString)BadDiv)
				}
			</div>
			<div class="p-2 mb-6 border border-dark">
				<label>Coolant Leaks Comments:</label>
				@if (_report.CoolantLeaksComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.CoolantLeaksComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Other Leaks Comments:</label>
				@if (_report.CoolantLeaksComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.OtherLeaksComments</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Other Comments:</label>
				@if (_report.Other == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.Other</p>
				}
			</div>

			<div class="p-2 mb-6 border border-dark">
				<label>Other Inspection Comments:</label>
				@if (_report.OtherInspectionComments == null)
				{
					<p>N/A</p>
				}
				else
				{
					<p>@_report.OtherInspectionComments</p>
				}
			</div>
		</div>
	</div>
		<button class="btn btn-info"  @onclick="(() => PreviousPage())">Go to previous page</button>
}

@code {
	[Parameter]
	public int ReportID { get; set; }

	private IFullReportModel _report;
	private IVehicleModel _vehicle;
	private ICustomerModel _customer;

	const string Ok = "Inspected and ok";
	const string Average = "May require future attention";
	const string Bad = "Requires immediate attention";

	const string OkDiv = "<div class='p-3 mb-2 bg-success text-white'>Inspected and ok</div>";
	const string AverageDiv = "<div class='p-3 mb-2 bg-warning text-dark'>May require future attention</div>";
	const string BadDiv = "<div class='p-3 mb-2 bg-danger text-white'>Requires immediate attention</div>";

	protected override async Task OnInitializedAsync()
	{
		_report = await ReportData.GetFullReportFromID(ReportID);
		_vehicle = await VehicleData.GetVehicleDetailsByID(_report.VehicleID);
		_customer = await CustomerData.ReadCustomerByID(_report.CustomerID);
	}
	private void PreviousPage()
	{
		NavigationManager.NavigateTo(ManagerSession.GetLastPage());
	}
}
