@attribute [Authorize(Roles = "Manager")]
@page "/Report/{reportID:int}"
@using DataAccessLibrary.Data.Interfaces
@inject IReportDataService ReportData
@inject IVehicleDataService VehicleData
@inject ICustomerDataService CustomerData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<div class="text-center">
	<h1 class="display-3 fw-normal">Report # @ReportId</h1>
	<button class="btn btn-outline-info btn-lg" @onclick="(PreviousPage)">Go to previous page</button>
</div>
<hr/>

@if (_report != null)
{
	<div class="row justify-content-center">
		
		<div class="col-6">

			<table class="table table-striped table-hover mx-auto">
				<thead>
				<tr>
					<th colspan="2" class="h2 text-center">Vehicle Info</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="h5 fw-bold">Number Plate</td>
					<td class="h5">@_vehicle.NumberPlate</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Make</td>
					<td class="h5">@_vehicle.Make</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Model</td>
					<td class="h5">@_vehicle.Model</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Year</td>
					<td class="h5">@_vehicle.Year</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">VIN</td>
					<td class="h5">@_vehicle.Vin</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Engine</td>
					<td class="h5">@_vehicle.EngineDescription</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Engine Size</td>
					<td class="h5">@_vehicle.SizeLitres</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Cylinders</td>
					<td class="h5">@_vehicle.Cylinders</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Fuel Type</td>
					<td class="h5">@_vehicle.FuelType</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Body</td>
					<td class="h5">@_vehicle.BodyType</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">First Visit</td>
					<td class="h5">@_vehicle.FirstVisit.ToString("dd/MM/yyyy hh:mm tt")</td>
				</tr>
				</tbody>
			</table>
	        
        
		</div>

		<div class="col-6">

			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th colspan="2" class="h2 text-center">Report Info</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="h5 fw-bold">Report ID</td>
					<td class="h5">@_report.Id</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Date</td>
					<td class="h5">@_report.TimeStarted.ToString("dd/MM/yyyy")</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Time Started</td>
					<td class="h5">@_report.TimeStarted.ToShortTimeString()</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Time Finished</td>
					<td class="h5">@_report.TimeFinished.ToShortTimeString()</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Mileage</td>
					<td class="h5">@_report.Odometer kms</td>
				</tr>
				</tbody>
			</table>

			<hr/>
			
			<table class="table table-striped table-hover mx-auto">
				<thead>
				<tr>
					<th colspan="2" class="h2 text-center">Customer Info</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="h5 fw-bold">Customer Name</td>
					<td class="h5">@_customer.FirstName @_customer.LastName</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Email</td>
					<td class="h5">@_customer.Email</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Phone Number</td>
					<td class="h5">@_customer.PhoneNumber</td>
				</tr>
				<tr>
					<td class="h5 fw-bold">Address</td>
					<td class="h5">@_customer.Address</td>
				</tr>
				</tbody>
			</table>
            
		
		</div>
		
	</div>
	
	<hr/>
	
	<div class="row justify-content-center">
		
		<div class="col-10">


		

        <table class="table table-hover align-middle">

            <thead>
                <tr>
                    <th colspan="2" class="display-6 text-center">Inspection Report</th>
                </tr>
            </thead>

            <tbody>
				<tr class="@(_report.RoadTestComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Road Test Comments:</td>
					<td class="h5">@(_report.RoadTestComments ?? "N/A")</td>
				</tr>

				<tr class="@(_report.GeneralComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">General Comments:</td>
					<td class="h5">@(_report.GeneralComments ?? "N/A")</td>
				</tr>
		
				<tr class="@(_report.StoredFaultCodes == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Stored Fault Codes:</td>
					<td class="h5">@(_report.StoredFaultCodes ?? "N/A")</td>
				</tr>


				@if (_report.AirConditioning == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Conditioning:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.AirConditioning == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Conditioning:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.AirConditioning == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Conditioning:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				@if (_report.Lights == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Lights:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Lights == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Lights:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Lights == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Lights:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

						<tr class="@(_report.LightsComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Lights Comments:</td>
							<td class="h5">@(_report.LightsComments ?? "N/A")</td>
				</tr>


				@if (_report.FrontWipers == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Wipers:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.FrontWipers == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Wipers:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.FrontWipers == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Wipers:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.RearWiper == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Wiper:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.RearWiper == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Wiper:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.RearWiper == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Wiper:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				else
				{
					<tr class="table-secondary" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Wiper:</td>
						<td class="h5">N/A</td>
					</tr>
				}

				@if (_report.Battery == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Battery:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Battery == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Battery:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Battery == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Battery:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				<tr class="@(_report.BatteryComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Battery Comments:</td>
					<td class="h5">@(_report.BatteryComments ?? "N/A")</td>
				</tr>

				@if (_report.AirFilter == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Filter:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.AirFilter == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Filter:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.AirFilter == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Air Filter:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.CabinFilter == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Cabin Filter:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.CabinFilter == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Cabin Filter:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.CabinFilter == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Cabin Filter:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.DriveBelts == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drive Belts:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.DriveBelts == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drive Belts:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.DriveBelts == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drive Belts:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.TimingBelt == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Timing Belt:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.TimingBelt == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Timing Belt:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.TimingBelt == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Timing Belt:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				else
				{
					<tr class="table-light" style="height: 4.5rem;">
						<td class="h5 fw-bold">Timing Belt:</td>
						<td class="h5">N/A</td>
					</tr>
				}

				@if (_report.Radiator == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Radiator:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Radiator == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Radiator:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Radiator == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Radiator:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.Hoses == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Hoses:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Hoses == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Hoses:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Hoses == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Hoses:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				<tr class="@(_report.HosesComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Hose Comments:</td>
					<td class="h5">@(_report.HosesComments ?? "N/A")</td>
				</tr>

				@if (_report.EngineOil == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Engine Oil:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.EngineOil == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Engine Oil:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.EngineOil == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Engine Oil:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				@if (_report.Coolant == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Coolant == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Coolant == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.BrakeFluid == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Brake Fluid:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.BrakeFluid == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Brake Fluid:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.BrakeFluid == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Brake Fluid:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.PowerSteeringFluid == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Power Steering Fluid:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.PowerSteeringFluid == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Power Steering Fluid:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.PowerSteeringFluid == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Power Steering Fluid:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.TransmissionFluid == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Transmission Fluid:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.TransmissionFluid == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Transmission Fluid:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.TransmissionFluid == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Transmission Fluid:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.WindscreenWasherFluid == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Windscreen Washer Fluid:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.WindscreenWasherFluid == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Windscreen Washer Fluid:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.WindscreenWasherFluid == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Windscreen Washer Fluid:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				<tr class="@(_report.FluidsComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Fluids Comments:</td>
							<td class="h5">@(_report.FluidsComments ?? "N/A")</td>
				</tr>

				@if (_report.SparkPlugs == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Spark Plugs:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.SparkPlugs == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Spark Plugs:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.SparkPlugs == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Spark Plugs:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				else
				{
				<tr class="table-secondary" style="height: 4.5rem;">
					<td class="h5 fw-bold">Spark Plugs:</td>
					<td class="h5">N/A</td>
				</tr>
				}

				@if (_report.FuelFilter == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Fuel Filter:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.FuelFilter == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Fuel Filter:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.FuelFilter == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Fuel Filter:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.FrontSuspension == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Suspension:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.FrontSuspension == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Suspension:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.FrontSuspension == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Suspension:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.FrontSuspensionComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Front Suspension Comments:</td>
					<td class="h5">@(_report.FrontSuspensionComments ?? "N/A")</td>
				</tr>

				@if (_report.RearSuspension == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Suspension:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.RearSuspension == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Suspension:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.RearSuspension == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Suspension:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.RearSuspensionComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Rear Suspension Comments:</td>
					<td class="h5">@(_report.RearSuspensionComments ?? "N/A")</td>
				</tr>

				@if (_report.FrontBrakes == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Brakes:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.FrontBrakes == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Brakes:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.FrontBrakes == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Front Brakes:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.FrontBrakesComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Front Brakes Comments:</td>
					<td class="h5">@(_report.FrontBrakesComments ?? "N/A")</td>
				</tr>
			
				@if (_report.RearBrakes == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Brakes:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.RearBrakes == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Rear Brakes:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
						else if (_report.RearBrakes == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
								<td class="h5 fw-bold">Rear Brakes:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.RearBrakesComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Rear Brakes Comments:</td>
					<td class="h5">@(_report.RearBrakesComments ?? "N/A")</td>
				</tr>


				@if (_report.RhfTyre == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Front Tyre:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.RhfTyre == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Front Tyre:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.RhfTyre == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Front Tyre:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}


				@if (_report.LhfTyre == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Front Tyre:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.LhfTyre == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Front Tyre:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.LhfTyre == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Front Tyre:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}						
						
				@if (_report.RhrTyre == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Rear Tyre:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.RhrTyre == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Rear Tyre:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.RhrTyre == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Right Hand Rear Tyre:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}						
						
				@if (_report.LhrTyre == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Rear Tyre:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.LhrTyre == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Rear Tyre:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.LhrTyre == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Left Hand Rear Tyre:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				<tr class="@(_report.NeedsAlignment == false ? "table-success" : "table-danger")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Needs Alignment:</td>
					<td class="h5">@((_report.NeedsAlignment == false) ? "No" : "Yes")</td>
				</tr>

				<tr class="@(_report.TyresComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Tyres Comments:</td>
					<td class="h5">@(_report.TyresComments ?? "N/A")</td>
				</tr>

				@if (_report.Exhaust == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Exhaust:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Exhaust == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Exhaust:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Exhaust == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Exhaust:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				<tr class="@(_report.ExhaustComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Exhaust Comments:</td>
					<td class="h5">@(_report.ExhaustComments ?? "N/A")</td>
				</tr>

				@if (_report.Drivetrain == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drivetrain:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.Drivetrain == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drivetrain:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.Drivetrain == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Drivetrain:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.DrivetrainComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Drivetrain Comments:</td>
					<td class="h5">@(_report.DrivetrainComments ?? "N/A")</td>
				</tr>

				@if (_report.OilLeaks == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Oil Leaks:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.OilLeaks == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Oil Leaks:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.OilLeaks == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Oil Leaks:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}

				<tr class="@(_report.OilLeaksComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Oil Leaks Comments:</td>
					<td class="h5">@(_report.OilLeaksComments ?? "N/A")</td>
				</tr>


				@if (_report.CoolantLeaks == Ok)
				{
					<tr class="table-success" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant Leaks:</td>
						<td class="h5">Inspected And Ok</td>
					</tr>
				}
				else if (_report.CoolantLeaks == Average)
				{
					<tr class="table-warning" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant Leaks:</td>
						<td class="h5">May Require Future Attention</td>
					</tr>
				}
				else if (_report.CoolantLeaks == Bad)
				{
					<tr class="table-danger" style="height: 4.5rem;">
						<td class="h5 fw-bold">Coolant Leaks:</td>
						<td class="h5">Requires Immediate Attention</td>
					</tr>
				}
				<tr class="@(_report.CoolantLeaksComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Coolant Leaks Comments:</td>
					<td class="h5">@(_report.CoolantLeaksComments ?? "N/A")</td>
				</tr>

				<tr class="@(_report.OtherLeaksComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Other Leaks Comments:</td>
					<td class="h5">@(_report.OtherLeaksComments ?? "N/A")</td>
				</tr>

				<tr class="@(_report.Other == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Other Comments:</td>
					<td class="h5">@(_report.Other ?? "N/A")</td>
				</tr>

				<tr class="@(_report.OtherInspectionComments == null ? "table-light" : "table-info")" style="height: 4.5rem;">
					<td class="h5 fw-bold">Other Inspection Comments:</td>
					<td class="h5">@(_report.OtherInspectionComments ?? "N/A")</td>
				</tr>

					</tbody>
				</table>
		</div>
		
	</div>
		
	<div class="text-center m-2">
		<button class="btn btn-outline-info btn-lg" @onclick="(PreviousPage)">Go to previous page</button>
	</div>
		
}

@code {
	[Parameter]
	public int ReportId { get; set; }

	private IFullReportModel _report;
	private IVehicleModel _vehicle;
	private ICustomerModel _customer;

    const string Ok = "Inspected And Ok";
    const string Average = "May Require Future Attention";
    const string Bad = "Requires Immediate Attention";

	protected override async Task OnInitializedAsync()
	{
		_report = await ReportData.GetFullReportFromId(ReportId);
		_vehicle = await VehicleData.GetVehicleDetailsById(_report.VehicleId);
		_customer = await CustomerData.ReadCustomerById(_report.CustomerId);
	}
	private void PreviousPage()
	{
		NavigationManager.NavigateTo(ManagerSession.GetLastPage());
	}
}
