@page "/SearchVehicle"
@using DataAccessLibrary.Data.Interfaces
<PageTitle>Search Vehicle</PageTitle>
@attribute [Authorize(Roles = "Manager")]
@inject IVehicleDataService VehicleData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<div class="text-center">
	<h1 class="display-3 fw-normal">Search Vehicle</h1>
	<button class="btn btn-outline-info btn-lg" @onclick="(PreviousPage)">Go to previous page</button>
</div>

<hr/>

<div class="mb-2">
	<label class="form-label h4 fw-bold">Search:</label>
	<input class="form-control w-25" type="text" @oninput="HandleInput"/>
</div>

@if (_filteredVehicles == null)
{
	<h4>Loading...</h4>
}
else if (_filteredVehicles.Count == 0)
{
	<h4>Vehicle not found.</h4>
}
else
{
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover table-striped">
				<thead class="table-dark">
					<tr>
						<th>Number Plate</th>
						<th>Make</th>
						<th>Model</th>
						<th>Year</th>
						<th>VIN</th>
						<th>Fuel Type</th>
						<th>Engine Description</th>
						<th>Body Type</th>
						<th>Cylinders</th>
						<th>Transmission Type</th>
						<th>Body Type</th>
						<th>Vehicle Page</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var v in _filteredVehicles)
					{
						<tr>
							<td>@v.NumberPlate</td>
							<td>@v.Make</td>
							<td>@v.Model</td>
							<td>@v.Year</td>
							<td>@v.Vin</td>
							<td>@v.FuelType</td>
							<td>@v.EngineDescription</td>
							<td>@v.BodyType</td>
							<td>@v.Cylinders</td>
							<td>@v.TransmissionType</td>
							<td>@v.BodyType</td>
							<td><button class ="btn btn-primary" @onclick="(() => ViewVehicle(v.Id))">Go</button></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}


@code {
	private List<IVehicleModel> _allVehicles;
	private List<IVehicleModel> _filteredVehicles;

	protected override async Task OnInitializedAsync()
	{
		_allVehicles = await VehicleData.GetAllVehicles();
		_filteredVehicles = _allVehicles;
	}

	private void HandleInput(ChangeEventArgs args)
	{
		if (args.Value!.ToString()!.Length == 0)
		{
			_filteredVehicles = _allVehicles;
		}
		else
		{
			string searchTerm = args.Value.ToString()!.ToLower();

			var filteredIEnumerable = from x in _allVehicles
											where	x.Make.ToLower().Contains(searchTerm) ||
													x.Model.ToLower().Contains(searchTerm) ||
													x.Year.ToLower().Contains(searchTerm) ||
													x.Vin.ToLower().Contains(searchTerm) ||
													x.FuelType.ToLower().Contains(searchTerm) ||
													x.EngineDescription.ToLower().Contains(searchTerm) ||
													x.BodyType.ToLower().Contains(searchTerm) ||
													x.Cylinders.ToLower().Contains(searchTerm) ||
													x.TransmissionType.ToLower().Contains(searchTerm) ||
													x.SizeLitres.ToLower().Contains(searchTerm) ||
													x.NumberPlate.ToLower().Contains(searchTerm)
											select x;

			_filteredVehicles = filteredIEnumerable.ToList();
		}
	}

	private void ViewVehicle(int vehicleId)
	{
		ManagerSession.SetLastPage(NavigationManager.Uri);
		NavigationManager.NavigateTo($"/Vehicle/{vehicleId}");
	}
	private void PreviousPage()
	{
		NavigationManager.NavigateTo(ManagerSession.GetLastPage());
	}
}
