@attribute [Authorize(Roles="Manager")]
@page "/StockItem/{itemID:int}"
@using DataAccessLibrary.Data.Interfaces
<PageTitle>Inventory Stock</PageTitle>
@inject IStockDataService StockData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession
@inject IJSRuntime JSRuntime

@if	(_item != null)
{
	<div class="text-center">
		<h1 class="display-4 fw-normal">Stock Item: @_item.ItemName</h1>
		<button class="btn btn-outline-info btn-lg" @onclick="(PreviousPage)">Go to previous page</button>
	</div>
	
	<hr/>
	
	<PageTitle>Inventory - @_item.ItemName</PageTitle>
	
	<div class="row justify-content-around">

		<div class="col-7">
			
		<table class="table table-striped table-hover">
            <thead>
            	<tr>
            		<th colspan="2" class="display-5 text-center">Item Details</th>
            	</tr>
            </thead>
            <tbody>
            <tr>
				<td class="p-4 h4 fw-bold">Item ID:</td>
				<td class="p-4 h4">@_item.Id</td>
            </tr>
            <tr>
				<td class="p-4 h4 fw-bold">Item Name:</td>
				<td class="p-4 h4">@_item.ItemName</td>
            </tr>
            <tr>
	            <td class="p-4 h4 fw-bold">Item Status:</td>
	            @if (_item.Quantity == 0)
	            {
		            <td class="p-4 h4">
			            <span class="m-auto badge bg-danger">Out of Stock</span>
		            </td>
	            }
	            else if (_item.Quantity > _item.AlarmMinimum)
	            {
		            <td class="p-4 h4">
			            <span class="m-auto badge bg-success">Ok</span>    
		            </td>
	            }
	            else if (_item.Quantity <= _item.AlarmMinimum)
	            {
		            <td class="p-4 h4">
			            <span class="m-auto badge bg-warning">Low</span>    
		            </td>
	            }
            </tr>
                
	                @if (_item.Unit.ToLower().Contains("piece") || _item.Unit.ToLower().Contains("set"))
                    {
	                    <tr>
		                    <td class="p-4 h4 fw-bold">In Stock:</td>
		                    <td class="p-4 h4">@_item.Quantity.ToString("0") @_item.Unit</td>
	                    </tr>    
	                    
	                    <tr>
		                    <td class="p-4 h4 fw-bold">Alarm minimum:</td>
				            <td class="p-4 h4">@_item.AlarmMinimum.ToString("0") @_item.Unit</td>
			            </tr>
                    }
                    else
                    {
	                    <tr>
		                    <td class="p-4 h4 fw-bold">In Stock:</td>
		                    <td class="p-4 h4">@_item.Quantity.ToString("0.00") @_item.Unit</td>
	                    </tr>    
	                    
	                    <tr>
		                    <td class="p-4 h4 fw-bold">Alarm minimum:</td>
		                    <td class="p-4 h4">@_item.AlarmMinimum.ToString("0.00") @_item.Unit</td>
	                    </tr>
                    }
            </tbody>
		</table>
			
		</div>	
	
	<div class="col-4 alert alert-info">
		<h5>Update Stock:</h5>
		<div class="row g-4 align-items-center">
			<div class="col-auto">
				<button class="btn btn-success" @onclick="(Add)">+</button>				
			</div>
			<div class="col-auto">
				<InputNumber class="form-control" @bind-Value="_amount"/>	
			</div>
			<div class="col-auto">
				<button class="btn btn-danger" @onclick="(Subtract)">-</button>	
			</div>
			
		</div>
		<br/>
		<br/>
		<div>
			<h5>Modify Minimum Alarm Quantity:</h5>
			<InputNumber class="form-control"  @bind-Value="_item.AlarmMinimum"/>
			<button class="btn btn-outline-primary mt-2" @onclick="(Save)">Set New Value</button>
		</div>

		<br />

		<form>
			<fieldset disabled="@_isFormDisabled">

					<div class="form-group">
						<label>Edit Name:</label>
						<InputText @bind-Value="_item.ItemName" class="form-control" />

					</div>

					<br />

					<div class="form-group">
						<label>Edit Unit of Measurement:</label>
						<InputText @bind-Value="_item.Unit" class="form-control" />
					</div>

					<br/>


			</fieldset>
		</form>
			<button class="btn btn-primary" @onclick="(ToggleEdit)">Edit</button>

			@if (_isFormDisabled == false)
			{
				<button class="btn btn-success ms-2" type="submit" @onclick="(Save)">Save</button>
				<button class="btn btn-danger" type="submit" @onclick="(Delete)">Delete</button>
			}
	</div>

	</div>
}

@code {
	[Parameter]
	public int ItemId { get; set; }

	private bool _isFormDisabled = true;
	private decimal _amount;
	private IStockItemModel _item;

	private void PreviousPage()
	{
		NavigationManager.NavigateTo(ManagerSession.GetLastPage());
	}

	protected override async Task OnParametersSetAsync()
	{
		_item = await StockData.GetStockItemById(ItemId);
	}

	private void ToggleEdit()
	{
		_isFormDisabled = !_isFormDisabled;
	}

	private async Task Save()
	{
		await StockData.UpdateItemById(_item);
		_isFormDisabled = true;
	}

	private async Task Add()
	{
		_item.Quantity += _amount;
		_amount = 0;
		await Save();
	}	

	private async Task Delete()
	{
		await StockData.DeleteItemById(_item.Id);

		ManagerSession.SetLastPage(NavigationManager.Uri);

		NavigationManager.NavigateTo("/Inventory");

	}

	private async Task Subtract()
	{
		if ((_item.Quantity - _amount) < 0)
		{
			await JSRuntime.InvokeVoidAsync("alert", "ERROR: Quantity would be negative. Please enter a valid value to update stock.");
		}
		else
		{
			_item.Quantity -= _amount;
			_amount = 0;
			await Save();
		}
	}
}
